																	/*RESETS*/

*{
	margin: 0;
	padding: 0;
	font-family: Arial;
}

p{
	font-size: 14px;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}

h1, h2{
	font-size: 30px;
}

																	/*MAIN*/
.wrapper{
	margin: 0 auto;
	max-width: 100%;
	background: url("../images/main-background.png");
}

.main-container{
	max-width: 1000px;
	margin: 0 auto;
}

																	/*HEADER*/
header{
	width: 100%;
	max-height: 107px;
	background: url("../images/header-background.png") repeat;
	margin-bottom: 10px;
}

header .wrap{
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
}

header .wrap .logo{
	margin-right: 60px;
	text-align: center;
	width: 230px;
	line-height: 152px;
}

header .wrap .logo img{
	width: 230px;
	height: 52px;
}

header .wrap nav{
	width: 100%;
	height: 110px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

header .wrap nav li{
	width: 110px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	border-radius: 10px;
}

header .wrap nav li a{
	color: #000;
}

header .wrap nav li:hover{
	box-sizing: border-box;
	background: radial-gradient(#B31E3B, #F10345);
	border: 1px solid #A62439;
}

header .wrap nav li a:hover{
	color: #fff;
}

.container-wrap{
	display: flex;
	margin-bottom: 20px;
}
.wrap-main{
	width: 78%;
}

aside{
	width: 20%;
	height: 640px;
	margin-right: 2%;
	border-radius: 8px;
	background: white;
	border: 2px solid #e7e7e7;
}

aside h2{
	font-size: 22px;
	font-weight: normal;
	margin: 10px 0 8px 8px;
}

aside .genres{
	margin-left: 15px;
}

aside .genres .genr{
	margin-bottom: 8px;
	font-size: 14px;
	color: #333333;
}

aside .genres .genr a{
	color: #333333;
}

aside .genres .genr a:hover{
	text-decoration: underline;
}

main{
	border-radius: 8px;
	background: white;
	border: 2px solid #e7e7e7;
	margin-bottom: 30px;
}

main article h1{
	text-align: center;
	font-weight: normal;
	font-size: 26px;
	margin: 30px 0 30px 0;
	color: #333333;
}

main article .main-article__text{
	max-width: 95%;
	margin: 0 auto 20px;
	color: #333333;
	text-align: justify;
}

.wrap-main .wrap{
	max-width: 95%;
	margin: 0 auto;
}

.wrap-main .advert{
	max-width: 100%;
	background: #fff;
	border-radius: 8px;
	border: 2px solid #e7e7e7;
}

.wrap-main .advert h3{
	font-weight: normal;
	font-size: 22px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.wrap-main .advert .list-item{
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}

.wrap-main .advert .list-item .item{
	flex-basis: 22%;
	text-align: center;
}

.wrap-main .advert .list-item .item h5{
	margin-bottom: 5px;
}

.wrap-main .advert .list-item .item h5 a{
	color: #D32B45;
	font-weight: normal;
	font-size: 15px;
}

.wrap-main .advert .list-item .item h5 a:hover{
	text-decoration: underline;
}

.wrap-main .advert .list-item .item .author{
	font-size: 11px;
	font-style: italic;
}

footer{
	width: 100%;
	height: 54px;
	background: url("../images/footer-bg.png") repeat;
	border-radius: 8px;
	border: 1px solid #b5b5b5;
	color: #666666;
	text-align: center;
	line-height: 54px;
}

footer a{
	color: #666666;
}

footer a:hover{
	text-decoration: underline;
}
