																	/*RESETS*/

*{
	margin: 0;
	padding: 0;
	font-family: Arial;
}

p{
	font-size: 14px;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}

h1, h2{
	font-size: 30px;
}

																	/*MAIN*/
.wrapper{
	margin: 0 auto;
	max-width: 100%;
	background: url("../images/main-background.png");
}

.main-container{
	max-width: 1000px;
	margin: 0 auto;
}

																	/*HEADER*/
header{
	width: 100%;
	height: 107px;
	background: url("../images/header-background.png") repeat;
	margin-bottom: 10px;
}

header .wrap{
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
}

header .wrap .logo{
	margin-right: 80px;
	text-align: center;
	width: 230px;
	line-height: 152px;
}

header .wrap .logo img{
	width: 230px;
	height: 52px;
}

header .wrap nav{
	width: 100%;
	height: 110px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header .wrap nav li{
	width: 110px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	border-radius: 10px;
}

header .wrap nav li:hover{
	background: red;
}

.container-wrap{
	display: flex;
}

main{
	width: 70%;
	height: 600px;
	background: red;
}
aside{
	width: 28%;
	height: 600px;
	background: blue;
	margin-right: 2%;
}
